<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <link rel="stylesheet" href="style.css" />

    <title>Todo App</title>
  </head>
  <body>
    <main id="app" class="flexbox">
      <input type="text" v-model="newTodo" />
      <button type="button" class="btn btn-success" @click="addTodo">
        add Todo
      </button>
      <ul>
        <li
          v-for="(todo, index) in list"
          key="todo"
          @click="todo.done = !todo.done"
        >
          <span v-if="todo.done">{{isNotDone}}</span>
          <span v-else="!todo.done">{{ isDone}}</span>
          {{ todo.todo }}
          <button
            type="button"
            class="btn btn-danger"
            @click="deleteTodo(index)"
          >
            Del
          </button>
        </li>
      </ul>
    </main>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="script.js"></script>
  </body>
</html>
